extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Matthew L. Griffith
     
        p.lead.text-light
          | Full Stack JavaScript Developer

   
        .portfolio-bio
          p 
            | Greetings!  My name is Matthew L. Griffith.  I am web developer based in Portland, Oregon.  I am currently a student in the Full Stack JavaScript Techdegree with Team Treehouse. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skill set list.
        ul
          each val, index in data.personal[0].skillset
            li #{val}
        h6 Contact Info

        //- contact info
        ul
          each val, index in data.personal[0].contact
            li #{val}

        //- link urls
        a.button.expanded(href='https://www.linkedin.com/in/matthewgriffithwebdev/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/grif5332' target='_blank') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  