extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    
    img.errorIMG(src='/img/sad_baby_face.jpg')
    h2.errorMainTxt= error.message
    h3.errorMainTxt= 'Not Found - ' + error.status  
    pre= error.stack

    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back